body {
  font-family: 'Muli', sans-serif !important;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }
  .login-btn {
    text-align: center !important;
  }

  .avatar {
    margin-top:20px;
  }

  .navbar {
    margin-bottom:0 !important;
  }

  // Eventuelle couleur principale : #96002C;
}