body {
  font-family: 'Muli', sans-serif !important;
  overflow: hidden;
}
body .testa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Raleway', sans-serif;
}
body .login-btn {
  text-align: center !important;
}
body .avatar {
  margin-top: 20px;
}
body .navbar {
  margin-bottom: 0 !important;
}
body .sidebar-nav li.active a {
  color: #d65c4f;
}
body .page-content-wrapper {
  padding: 0 !important;
  height: 500px;
  position: relative;
}
body .questions h2 {
  font-size: 1.7em;
}
body .questions button {
  white-space: normal !important;
  text-transform: none !important;
}
body .buttons {
  margin-top: 25px;
}
body .panels {
  margin-top: 25px;
  padding: 0 !important;
}
body .panel-heading {
  color: #fff !important;
  background: #8a1e3e !important;
  letter-spacing: 1px !important;
  margin-top: 1px !important;
}
