<div ng-if="currentUser">
    <div ng-controller="StartController"  class="col-md-12">

        <div class="heading clearfix">
            <div class="col-xs-7 col-sm-7 col-md-6">
                <h2>{{currentUser.username}}</h2>
                <strong>Parties gagnées :</strong> {{currentUser.won_game}}<br>
                <strong>Parties perdues :</strong> {{currentUser.lost_game}}<br>
                <strong>Exaequo :</strong> {{currentUser.exaequo}}
            </div>

            <div class="col-xs-5 col-sm-5 col-md-6 pull-right avatar">
                <img class="pull-right" gravatar-src="'{{currentUser.email}}'" gravatar-size="100">
            </div>

        </div>
        <div class="buttons clearfix">
            <button ng-click="startGame()" class="btn btn-lg btn-success btn-raised col-xs-12">Nouvelle partie</button>
            <button ng-click="startTraining()" class="btn btn-lg btn-info btn-raised col-xs-12">Entraînement</button> <!-- TODO Dev le mode entrainement -->
        </div>

        <div ng-controller="HomeController">

            <div class="panels col-md-6 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Ils vous attendent ({{players.length}})</div>
                    <div class="panel-body">
                        <div ng-if="players.length==0">
                            <p>Aucun partie en attente</p>
                        </div>

                        <div ng-repeat="player in players">
                            <button ng-click="startPendingGame(player)" class="btn btn-sm btn-primary col-xs-12">Jouer contre {{player.user1.username}}</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">En attente d'un autre joueur ({{others.length}})</div>
                    <div class="panel-body">
                        <div ng-if="others.length==0">
                            <p>Aucun joueur en attente</p>
                        </div>

                        <div ng-repeat="other in others">
                            Partie contre {{other.user2.username}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div ng-if="!currentUser" class="testa">
    <div class="col-md-12">
        <a href="#/login" class="col-xs-10 col-xs-push-1 btn btn-lg btn-primary">Connexion</a>
        <a href="#/register" class="col-xs-10 col-xs-push-1 btn btn-lg btn-primary">Inscription</a>
    </div>
</div>