<div ng-controller="LoginController" class="col-md-12">
    <h2>Connexion</h2>
    <li ng-repeat="dataquestion in dataquestions">{{dataquestion.question}}</li>

    <iframe src="sink.html" name="sink" style="display:none"></iframe>

    <form name="loginForm" action="sink.html" target="sink" method="post" ng-submit="submitLoginForm(fields)" novalidate form-autofill-fix>
        <div class="form-group">
            <label for="email" class="sr-only">E-mail</label>
            <input id="email" ng-model="fields.email" type="email" name="email" class="form-control" placeholder="Identifiant">
        </div>

        <div class="form-group">
            <label for="password" class="sr-only">Mot de passe</label>
            <input id="password" ng-model="fields.password"type="password" name="password" class="form-control" placeholder="Mot de passe">
        </div>

        <div class="form-group login-btn">
            <input type="submit" class="btn btn-primary" value="Connexion">
        </div>
        <div class="form-group login-btn">
            <a href="#/register" class="btn btn-lg btn-default">Inscription</a>
        </div>
    </form>
</div>