<div ng-controller="StartController" class="col-md-12">

        <div class="col-md-12">
            <h2>{{ currentQuestion.question }}</h2>
        </div>

        <!-- TODO randomize les réponses -->
    <!-- TODO Faire un form qui mène à la prochaine question -->
        <button class="col-md-6 btn btn-default">{{ currentQuestion.answer_1 }}</button>
        <button class="col-md-6 btn btn-default">{{ currentQuestion.answer_2 }}</button>
        <button class="col-md-6 btn btn-default">{{ currentQuestion.answer_3 }}</button>
        <button class="col-md-6 btn btn-default">{{ currentQuestion.answer_4 }}</button>
</div>