<div ng-controller="StartController" class="col-md-12">

        <div class="col-md-12">
            <h2>{{ currentQuestion.question }}</h2>
        </div>

        <!-- TODO randomize les réponses -->
    <!-- TODO Faire un form qui mène à la prochaine question -->
    <!-- TODO appel fonction submit avec param true/false -->
    <form>
        <div ng-repeat="answers in currentAnswers">
            <button type="submit" class="col-md-6 btn btn-default" ng-click="submit(answers.value)">{{ answers.content }}</button>
        </div>
    </form>
</div>