<div class="col-md-12">

    <div class="col-md-12">
        <h2>Statistiques</h2>
        <div stats-directive>

            <div class="stats col-md-12 clearfix">

                <h3>Résultats</h3>
                <div class="col-md-3 col-xs-7 col-md-offset-0">
                    <canvas id="winLoseExChart" width="400" height="400"></canvas>
                </div>
                <div class="col-md-3 col-xs-5">
                    <div class="legends" id="legendFirst"></div>
                </div>
            </div>

            <div class="stats col-md-12 clearfix">
                <h3>Nombre de parties</h3>
                <div class="col-md-3 col-xs-7 col-md-offset-0">
                    <canvas id="gameChart" width="400" height="400"></canvas>
                </div>
                <div class="col-md-3 col-xs-5">
                    <div class="legends" id="legendSecond"></div>
                </div>
            </div>

            <div class="stats col-md-3 col-xs-8 col-xs-offset-2 col-md-offset-1">
                <h3>Bonnes réponses (entraînement)</h3>
                <canvas id="waitChart" width="400" height="400"></canvas>
            </div>

            <div class="stats col-md-3 col-xs-12">
                <h3>Adversaires rencontrés</h3>
                <span class="number">{{countOpponents}}</span>
            </div>

            <div class="stats col-md-3 col-xs-12">
                <h3>Joueurs en attente</h3>
                <span class="number">{{waitingOther}}</span>
            </div>

            <div class="stats col-md-3 col-xs-12">
                <h3>Joueurs qui vous attendent</h3>
                <span class="number">{{waitingYou}}</span>
            </div>
        </div>
    </div>
    <script>
        Chart.defaults.global.responsive = true; // TODO désactiver les tooltips
    </script>
</div>