<!DOCTYPE html>
<html ng-app="dwApp">
<head>
    <meta charset="UTF-8">
    <title>Dual Wine</title>

    <link rel="stylesheet" href="../vendors/concat_style.css">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <script src="../vendors/concat_modules.js"></script>
    <script src="../vendors/concat_vendor.js"></script>

</head>
<body ng-controller="ApplicationController">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <span ng-show="currentUser">
                <button type="button" class="bars pull-left" id="menu-toggle">
                    <i class="fa fa-bars"></i>
                </button>
            </span>
            <a class="navbar-brand" href="#/">Dual Wine</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li ng-if="currentUser" ng-class="{active:isActive('/')}">
                <a href="#/" class="navig">Accueil</a>
            </li>
            <li ng-if="currentUser" ng-class="{active:isActive('/stats')}">
                <a href="#/stats" class="navig">Statistiques</a>
            </li>
            <li ng-if="currentUser" ng-class="{active:isActive('/ranking')}">
                <a href="#/ranking" class="navig">Classement</a>
            </li>
            <li ng-if="currentUser">
                <a ng-click="logout()" href="#" class="navig">Déconnexion</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">

        <div class="container">
            <div class="row">
                <div class="flash" flash-message="5000"></div>
            </div>

            <div class="row">
                <div ng-view></div>
            </div>

        </div>
    </div>
</div>
<script>


    $(document).on('click', '.navig', function(e) {
        if($("#wrapper").hasClass("toggled")) {
            e.preventDefault();
            $("#wrapper").removeClass("toggled");
        }
    });


    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });



    $('#page-content-wrapper').click(function(e) {
        if($("#wrapper").hasClass("toggled")) {
            e.preventDefault();
            $("#wrapper").removeClass("toggled");
        }
    });

    $('#menucontainer').click(function(event){
        event.stopPropagation();
    });
</script>
</body>
</html>