<!DOCTYPE html>
<html ng-app="dwApp">
<head>
    <meta charset="UTF-8">
    <title>Dual Wine</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <script src="../vendors/concat_modules.js"></script>
    <script src="../vendors/concat_vendor.js"></script>

</head>
<body ng-controller="ApplicationController">
<div class="container">
    <div class="row">
        <a href="#/start" class="btn btn-sm btn-primary">Start</a>
        <span ng-if="!currentUser">
            <a href="#/login" class="btn btn-sm btn-primary">Connexion</a>
            <a href="#/register" class="btn btn-sm btn-primary">Inscription</a>
        </span>
        <span ng-if="currentUser">
            <button ng-click="logout()" class="btn btn-sm btn-primary">Déconnexion</button>
            <div ng-if="currentUser">Bienvenue, {{currentUser.username }}</div>
        </span>

        <div ng-view></div>
    </div>
</div>

<!--<div login-dialog ng-if="!isLoginPage">lol</div>-->
</body>
</html>